/*Copy tu sfont cua adan*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 13px arial, helvetica, clean, sans-serif;
    color: #000000;
    outline: none;
    background-color: #d3d9e1;
}

input:focus, textarea:focus, tr:focus, button:focus {
    outline: none;
}
/*Tu dinh nghia*/
.d_none {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
}

    ul li {
        list-style: none;
    }

.b_center {
    text-align: center;
}

.b_left {
    float: left;
}

.b_right {
    float: right;
}

.b_both {
    clear: both;
}

.b_bold {
    font-weight: 700;
}

.b_link {
    color: #0d72be;
    cursor: pointer;
}

.menu_chung {
    width: 100%;
    float: left;
    display: inline-block;
}

.inner {
    padding: 5px 10px;
}

.width_common {
    width: 100%;
    float: left;
    display: inline-block;
}
/*------------------------Header--------------------------------*/
.menu_bar .b_left img {
    padding-left: 4px;
}

.menu_bar {
    background-color: #2c79b9;
    background-image: url(../images/eDoc/menu/patterm_h.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding: 5px 0;
    height: 30px;
}

.menu_header ul {
    display: inline-block;
    margin-left: 0px;
    margin-top: 2px;
    padding-left: 0;
    margin-bottom: 0;
}

    .menu_header ul li {
        display: inline-block;
        color: #fff;
        margin-right: 0px;
    }

        .menu_header ul li span {
            display: inline-block;
            padding: 5px 10px;
            cursor: pointer;
            font-weight: 700;
        }

        .menu_header ul li a {
            color: #fff;
        }

        .menu_header ul li span:hover {
            background-color: #c3eeee;
            border-radius: 3px;
            color: #000;
        }

        .menu_header ul li.selected span {
            background-color: #c3eeee;
            border-radius: 3px;
            color: #000;
        }
/*Switch role*/
.switch_role {
    display: inline-block;
    margin-top: 2px;
}

    .switch_role span {
        color: #fff;
        padding-right: 0px;
    }

    .switch_role .menu_nsd {
        padding-top: 5px;
        float: left;
        margin-right: 5px;
        color: #fff;
    }

        .switch_role .menu_nsd img {
            margin-right: 3px;
            float: left;
        }

.current_role {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background: url(../images/eDoc/menu/sw_icon.png) no-repeat right 6px center #075a99;
    padding-right: 25px;
    border-radius: 3px;
}
/*User setting*/
.menu_tlap {
    display: inline-block;
    margin-top: 3px;
    margin-right: 10px;
}

.dropdown-usermenu {
    position: absolute;
    top: 32px;
    right: 10px;
    width: 195px;
    z-index: 10;
}

    .dropdown-usermenu .arrow_active {
        right: 6px;
    }

    .dropdown-usermenu ul {
        background-color: #fff;
        border: 1px solid #ccc;
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
    }

.menu_tlap.show {
    background-color: #35a1d2;
    border-radius: 3px;
}

.menu_tlap > span {
    padding: 4px 6px;
    display: inline-block;
    line-height: 11px;
    cursor: pointer;
}

.arrow_active {
    background: url(../images/eDoc/menu/arrow_at_block.png) no-repeat 0 0;
    height: 8px;
    width: 16px;
    vertical-align: top;
    position: relative;
    float: right;
    right: 0px;
    top: 1px;
}

.dropdown-usermenu li {
    display: inline-block;
    padding: 10px 0;
    vertical-align: top;
    float: left;
    width: 100%;
}

    .dropdown-usermenu li.icon_thietlapht {
        background: url(../images/eDoc/menu/icon_thietlap.png) no-repeat 10px 9px;
    }

        .dropdown-usermenu li.icon_thietlapht:hover {
            background-position: 10px -28px;
        }

    .dropdown-usermenu li.icon_help {
        background: url(../images/eDoc/menu/icon_help.png) no-repeat 10px 9px;
    }

        .dropdown-usermenu li.icon_help:hover {
            background-position: 10px -25px;
        }

    .dropdown-usermenu li.icon_phanhoi {
        background: url(../images/eDoc/menu/icon_phanhoi.png) no-repeat 10px 9px;
    }

        .dropdown-usermenu li.icon_phanhoi:hover {
            background-position: 10px -28px;
        }

    .dropdown-usermenu li.icon_logout {
        background: url(../images/eDoc/menu/icon_logout.png) no-repeat 10px 9px;
        border-top: 1px solid #ccc;
    }

        .dropdown-usermenu li.icon_logout:hover {
            background-position: 10px -25px;
        }

    .dropdown-usermenu li span {
        padding-left: 40px;
        cursor: pointer;
    }

    .dropdown-usermenu li:hover span {
        color: #36b2e1;
    }
/*Thong bao - Notifications*/
.menu_tbao {
    display: inline-block;
    margin-right: 15px;
    margin-top: 7px;
    position: relative;
    cursor: pointer;
}

.icon_notice {
    background: url(../images/eDoc/menu/icon_notification.png) no-repeat center center;
    width: 13px;
    height: 15px;
    display: inline-block;
}

.badge_notice {
    background-color: #b43317;
    padding: 1px 2px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: -7px;
    right: -10px;
    width: 13px;
    height: 12px;
    text-align: center;
    vertical-align: middle;
}
/*Thong bao - Notifications*/
.divTbao {
    position: absolute;
    top: 52px;
    overflow: visible;
    z-index: 10;
    right: 10px;
    width: 315px;
}

    .divTbao ul {
        background-color: #fff;
        border: 1px solid #ccc;
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
    }

.user_setting.show {
    background-color: #35a1d2;
    border-radius: 3px;
}

.user_setting > span {
    padding: 4px 6px;
    display: inline-block;
    line-height: 11px;
    cursor: pointer;
}

.arrow_active {
    background: url(../images/sprite.png) no-repeat 0 -412px;
    height: 8px;
    width: 16px;
    vertical-align: top;
    position: relative;
    float: right;
    right: 0px;
    top: 1px;
}

.divTbao li {
    display: inline-block;
    padding: 10px 0;
    vertical-align: top;
    float: left;
    width: 100%;
}

    .divTbao li.icon_thietlapht {
        background: url(../images/menu/icon_thietlap.png) no-repeat 10px 9px;
    }

        .divTbao li.icon_thietlapht:hover {
            background-position: 10px -28px;
        }

    .divTbao li.icon_help {
        background: url(../images/menu/icon_help.png) no-repeat 10px 9px;
    }

        .divTbao li.icon_help:hover {
            background-position: 10px -25px;
        }

    .divTbao li.icon_phanhoi {
        background: url(../images/menu/icon_phanhoi.png) no-repeat 10px 9px;
    }

        .divTbao li.icon_phanhoi:hover {
            background-position: 10px -28px;
        }

    .divTbao li.icon_logout {
        background: url(../images/menu/icon_logout.png) no-repeat 10px 9px;
        border-top: 1px solid #ccc;
    }

        .divTbao li.icon_logout:hover {
            background-position: 10px -25px;
        }

    .divTbao li span {
        padding-left: 40px;
        cursor: pointer;
    }

    .divTbao li:hover span {
        color: #36b2e1;
    }



.head_tb {
    display: inline-block;
    padding: 5px 0;
    text-indent: 5px;
}

    .head_tb img {
        padding-right: 5px;
    }

    .head_tb span {
        font-size: 16px;
        font-weight: 700;
    }

.ndung_tb {
    background-color: #f2f4f6;
    border: 1px solid #ccc;
    display: inline-block;
    max-height: 500px;
    overflow-y: auto;
}

.ngay_tb {
    padding: 5px 0;
    display: inline-block;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-indent: 5px;
}

    .ngay_tb img {
        padding-right: 5px;
        cursor: pointer;
    }

.iterm_tb ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

    .iterm_tb ul li {
        display: inline-block;
        border-bottom: 1px solid #d2dae4;
        padding: 5px;
        box-sizing: border-box;
    }

        .iterm_tb ul li:last-child {
            border-bottom: none;
        }

.loai_tb span {
    padding: 5px;
    font-weight: 700;
}

.loai_tb .time_vb {
    color: #828b9c;
    font-weight: 400;
}

.lead_tb {
    display: inline-block;
}

    .lead_tb div {
        display: inline-block;
        padding: 0 5px;
    }

.info_tb {
    color: #828b9c;
    display: inline-block;
}

    .info_tb span {
        padding: 5px;
        display: inline-block;
    }

.loai_tb .tb_khan {
    background: url(../images/eDoc/menu/icon_vbkhan.png) no-repeat right 5px center;
    color: #ce5858;
    padding-right: 25px;
    display: inline-block;
}

.loai_tb .tb_xoa_themtep {
    background: url(../images/eDoc/menu/icon_vbxoathemtep.png) no-repeat right 5px center;
    color: #8825cd;
    padding-right: 25px;
    display: inline-block;
}

.loai_tb .tb_cnykien {
    color: #529416;
    padding-right: 29px;
    display: inline-block;
}

.loai_tb .tb_thuhoi {
    background: url(../images/eDoc/menu/icon_vbduocthuhoi.png) no-repeat right 5px;
    color: #a4611e;
    padding-right: 20px;
    display: inline-block;
}

.loai_tb .tb_denhan {
    background: url(../images/eDoc/menu/icon_vbdenhan.png) no-repeat right 1px;
    color: #fd9500;
    padding-right: 20px;
    display: inline-block;
}

.loai_tb .tb_moi {
    background: url(../images/eDoc/menu/icon_vbmoi.png) no-repeat right 1px;
    color: #2673b4;
    padding-right: 20px;
    display: inline-block;
}
/*Thong bao - Bottom - Outlook*/
.nofify_bt {
    display: inline-block;
    width: 380px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    z-index: 10;
}

    .nofify_bt li {
        display: inline-block;
        margin-bottom: 10px;
        background-color: #edf2fa;
        border: 1px solid #d2dae4;
        position: relative;
    }

.dong_nofify_bt {
    position: absolute;
    right: 3px;
    cursor: pointer;
    display: inline-block;
    width: 6px;
    height: 6px;
}
/*Brecrum*/
.menu_dan {
    display: inline-block;
    border-bottom: 2px solid #bfd7ea;
    background-color: #efefef;
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin-bottom: 3px;
}

    .menu_dan ul {
        background: url(../images/eDoc/menu/icon_brecum.png) no-repeat 10px 5px;
        margin: 0;
        margin-left: 0px;
        padding-left: 30px;
    }

        .menu_dan ul li {
            display: inline;
            font-size: 13px;
            margin-right: 5px;
            font-weight: 700;
            text-align: left;
        }

            .menu_dan ul li span {
                color: #858c99;
                font-weight: 400;
                text-decoration: none;
                background: url(../images/eDoc/menu/arrow-brecum.png) no-repeat right 4px;
                padding-right: 12px;
                cursor: pointer;
            }

                .menu_dan ul li span:hover {
                    color: #333;
                }

.bm_quytrinh span {
    padding: 10px;
    box-sizing: border-box;
    font-weight: 700;
}

    .bm_quytrinh span:hover {
        cursor: default;
    }
/*Menu doc*/
.menu_doc {
    display: inline-block;
    float: left;
    position: absolute;
    left: 9px;
    top: 71px;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
}

    .menu_doc ul {
        height: 100%;
        margin: 0 auto;
        left: 10px;
    }

        .menu_doc ul li {
            margin-left: 2px;
            float: right;
            height: 100%;
            background-color: #efefef;
            cursor: pointer;
            border: 1px solid #ccc;
            line-height: 30px;
            list-style: none;
        }

            .menu_doc ul li span {
                padding: 8px;
                font-weight: 700;
            }

                .menu_doc ul li span:hover, .menu_doc ul li.selected span {
                    background-color: #2c79b9;
                    color: #fff;
                }

            .menu_doc ul li.selected span {
                font-weight: 700;
            }
/*----------------------Container Sidebar-------------------*/
.menu_sidebarM {
    width: 250px;
    display: inline-block;
    background-color: #efefef;
    border: 1px solid #b9c4d1;
    min-height: calc(100vh - 83px);
    max-height: calc(100vh - 83px);
    overflow-y: auto;
    margin-left: 40px;
    float: left;
}

.menu_sidebarM1 {
    width: 250px;
    display: inline-block;
    background-color: #efefef;
    border: 1px solid #b9c4d1;
    min-height: calc(100vh - 83px);
    max-height: calc(100vh - 83px);
    margin-left: 10px;
    float: left;
}
/*Menu sidebar*/
.menu_sidebar {
    display: inline-block;
    width: 100%;
}

    .menu_sidebar ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        .menu_sidebar ul li {
            display: inline-block;
            width: 100%;
            float: left;
            padding: 0;
        }

            .menu_sidebar ul li span {
                box-shadow: inset 0 -1px #d2dae4;
            }

            .menu_sidebar ul li ul {
                display: inline-block;
                width: 100%;
                background-color: #efefef;
            }

    .menu_sidebar li span {
        color: #000;
        display: inline-block;
        width: 100%;
        padding: 5px 13px;
        box-sizing: border-box;
        line-height: 17px;
        cursor: pointer;
        background: none;
    }

        .menu_sidebar li span b {
            color: #0d72be;
            font-size: 13px;
            font-weight: 400;
            margin-left: 2px;
        }

        .menu_sidebar li span:hover {
            color: #2c79b9;
            background-color: #e0ffff;
        }

    .menu_sidebar ul li.css_Mlist ul span {
        padding-left: 25px;
        background-image: url(../images/eDoc/menu/icon_dotblue.png);
        background-position: 16px 10px;
        background-repeat: no-repeat;
    }

    .menu_sidebar ul li.css_Mlist ul ul span {
        padding-left: 40px;
        background-image: url(../images/eDoc/menu/icon_dotblue.png);
        background-position: 30px 10px;
        background-repeat: no-repeat;
    }

    .menu_sidebar ul li.css_Mlist ul ul ul span {
        padding-left: 55px;
    }

    .menu_sidebar ul li span.css_MlistC {
        color: #fff;
        font-weight: 700;
        background-color: #2c79b9;
        background-image: url(../images/eDoc/menu/iconchon_menu.png);
        background-repeat: no-repeat;
        background-position: 3px 9px;
    }

        .menu_sidebar ul li span.css_MlistC:hover {
            color: #000;
            background: #e0ffff;
        }

    .menu_sidebar ul ul li span.css_MlistC:hover {
        color: #000;
        background-color: #e0ffff;
        background-image: url(../images/eDoc/menu/icon_dotblue.png);
        background-position: 16px 10px;
        background-repeat: no-repeat;
    }

    .menu_sidebar ul li ul span.css_MlistC {
        font-weight: 700;
        background-image: url(../images/eDoc/menu/icon_dotwhite.png);
        background-repeat: no-repeat;
        background-position: 16px 10px;
    }

    .menu_sidebar ul li ul ul span.css_MlistC {
        font-weight: 700;
        background-image: url(../images/eDoc/menu/icon_dotwhite.png);
        background-repeat: no-repeat;
        background-position: 30px 10px;
    }

        .menu_sidebar ul li ul ul span.css_MlistC.css_MlistC:hover {
            color: #000;
            background-color: #e0ffff;
            background-image: url(../images/eDoc/menu/icon_dotblue.png);
            background-position: 30px 10px;
            background-repeat: no-repeat;
        }

    .menu_sidebar ul li ul ul ul span.css_MlistC {
        font-weight: 700;
        background-image: url(../images/eDoc/menu/iconchon_menu.png);
        background-repeat: no-repeat;
        background-position: 43px 9px;
    }

    .menu_sidebar ul li.css_Mlist {
        background: url(../images/eDoc/menu/icon_expan.png) no-repeat right 6px top 10px;
    }

        .menu_sidebar ul li.css_Mlist > span:hover {
            background: url(../images/eDoc/menu/icon_expan.png) no-repeat right 6px top 10px #e0ffff;
        }

.gr_menu {
    color: #000;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    padding: 5px 13px;
    box-sizing: border-box;
    line-height: 17px;
    background: none;
    background-color: #d9e4ec;
    box-shadow: inset 0 -1px #d2dae4;
}

.menu_sidebar .gr_menu span {
    cursor: default;
}

    .menu_sidebar .gr_menu span:hover {
        background-color: #d9e4ec;
        color: #000;
    }
/*Container*/
.container {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.menu_frame {
    display: inline-block;
    width: calc(100% - 302px);
    height: calc(100vh - 80px);
    float: right;
    margin-right: 10px;
}

.menu_frame1 {
    display: inline-block;
    width: calc(100% - 50px);
    height: calc(100vh - 80px);
    float: right;
    margin-right: 10px;
}

.menu_frame2 {
    display: inline-block;
    width: calc(100% - 20px);
    height: calc(100vh - 80px);
    float: right;
    margin-right: 10px;
}

.menu_frame3 {
    display: inline-block;
    width: calc(100% - 272px);
    height: calc(100vh - 80px);
    float: right;
    margin-right: 10px;
}

/*----------------------Bang mau site-----------------------*/
/*Donau*/
.donau .menu_bar {
    background-color: #b43317;
    background-image: url(../images/eDoc/menu/patterm_donau.png);
}

.donau .title_dmuc {
    color: #b43317;
}

.donau .badge_notice {
    background-color: red;
}

.donau .div_chat {
    background: url(../images/eDoc/icon_chat_donau.png) no-repeat 0 0 #b43317;
}

.donau .css_tab_ngang_ac {
    border-top: 1px solid #b43317;
    border-left: 1px solid #b43317;
    border-right: 1px solid #b43317;
}

    .donau .css_tab_ngang_de:hover, .donau .css_tab_ngang_ac:hover {
        border-top: 1px solid #b43317;
        border-left: 1px solid #b43317;
        border-right: 1px solid #b43317;
    }

.donau .viewall_lich span {
    background: url(../images/eDoc/ico_allc_donau.png) no-repeat left center;
}

.donau .menu_tlap.show {
    background: #7e2410;
}

.donau .dropdown-usermenu li:hover span {
    color: #b43317;
}

.donau .menu_doc ul li span:hover, .donau .menu_doc ul li.selected span {
    background-color: #b43317;
}

.donau .dropdown-usermenu li.icon_thietlapht {
    background: url(../images/eDoc/menu/icon_thietlap_donau.png) no-repeat 10px 9px;
}

    .donau .dropdown-usermenu li.icon_thietlapht:hover {
        background-position: 10px -28px;
    }

.donau .dropdown-usermenu li.icon_help:hover {
    background-position: 10px -25px;
}

.donau .dropdown-usermenu li.icon_help {
    background: url(../images/eDoc/menu/icon_help_donau.png) no-repeat 10px 9px;
}

.donau .dropdown-usermenu li.icon_phanhoi:hover {
    background-position: 10px -28px;
}

.donau .dropdown-usermenu li.icon_phanhoi {
    background: url(../images/eDoc/menu/icon_phanhoi_donau.png) no-repeat 10px 9px;
}

.donau .dropdown-usermenu li.icon_logout:hover {
    background-position: 10px -25px;
}

.donau .dropdown-usermenu li.icon_logout {
    background: url(../images/eDoc/menu/icon_logout_donau.png) no-repeat 10px 9px;
    border-top: 1px solid #ccc;
}

.donau .icon_octb {
    background-color: #7e2410;
}

.donau .title-hot_news {
    background: url(../images/eDoc/arrow_t_tb_donau.png) no-repeat right 0;
}

    .donau .title-hot_news span {
        background-color: #b43317;
    }

.donau .menu_sidebar ul li span.css_MlistC {
    background-color: #b43317;
}

.donau .menu_dan ul {
    background: url(../images/eDoc/menu/icon_brecum_donau.png) no-repeat 10px 5px;
}

.donau .menu_sidebar ul li.css_Mlist ul span {
    background-image: url(../images/eDoc/menu/icon_dotdonau.png);
}

.donau .menu_sidebar ul li ul span.css_MlistC {
    background-image: url(../images/eDoc/menu/icon_dotwhite.png);
}
/*vang*/
.vang .menu_bar {
    background-color: #eb9f0a;
    background-image: url(../images/eDoc/menu/patterm_vang.png);
}

.vang .title_dmuc {
    color: #eb9f0a;
}

.vang .div_chat {
    background: url(../images/eDoc/icon_chat_vang.png) no-repeat 0 0 #eb9f0a;
}

.vang .css_tab_ngang_ac {
    border-top: 1px solid #eb9f0a;
    border-left: 1px solid #eb9f0a;
    border-right: 1px solid #eb9f0a;
}

    .vang .css_tab_ngang_de:hover, .vang .css_tab_ngang_ac:hover {
        border-top: 1px solid #eb9f0a;
        border-left: 1px solid #eb9f0a;
        border-right: 1px solid #eb9f0a;
    }

.vang .viewall_lich span {
    background: url(../images/eDoc/ico_allc_vang.png) no-repeat left center;
}

.vang .menu_tlap.show {
    background: #c87600;
}

.vang .dropdown-usermenu li:hover span {
    color: #eb9f0a;
}

.vang .menu_doc ul li span:hover, .vang .menu_doc ul li.selected span {
    background-color: #eb9f0a;
}

.vang .dropdown-usermenu li.icon_thietlapht {
    background: url(../images/eDoc/menu/icon_thietlap_vang.png) no-repeat 10px 9px;
}

    .vang .dropdown-usermenu li.icon_thietlapht:hover {
        background-position: 10px -28px;
    }

.vang .dropdown-usermenu li.icon_help:hover {
    background-position: 10px -25px;
}

.vang .dropdown-usermenu li.icon_help {
    background: url(../images/eDoc/menu/icon_help_vang.png) no-repeat 10px 9px;
}

.vang .dropdown-usermenu li.icon_phanhoi:hover {
    background-position: 10px -28px;
}

.vang .dropdown-usermenu li.icon_phanhoi {
    background: url(../images/eDoc/menu/icon_phanhoi_vang.png) no-repeat 10px 9px;
}

.vang .dropdown-usermenu li.icon_logout:hover {
    background-position: 10px -25px;
}

.vang .dropdown-usermenu li.icon_logout {
    background: url(../images/eDoc/menu/icon_logout_vang.png) no-repeat 10px 9px;
    border-top: 1px solid #ccc;
}

.vang .icon_octb {
    background-color: #c87600;
}

.vang .title-hot_news {
    background: url(../images/eDoc/arrow_t_tb_vang.png) no-repeat right 0;
}

    .vang .title-hot_news span {
        background-color: #eb9f0a;
    }

.vang .menu_sidebar ul li span.css_MlistC {
    background-color: #eb9f0a;
}

.vang .menu_dan ul {
    background: url(../images/eDoc/menu/icon_brecum-vang.png) no-repeat 10px 5px;
}

.vang .menu_sidebar ul li.css_Mlist ul span {
    background-image: url(../images/eDoc/menu/icon_dotvang.png);
}

.vang .menu_sidebar ul li ul span.css_MlistC {
    background-image: url(../images/eDoc/menu/icon_dotwhite.png);
}
/*xanhlacay*/
.xanhlacay .menu_bar {
    background-color: #369a28;
    background-image: url(../images/eDoc/menu/patterm_xanhlacay.png);
}

.xanhlacay .title_dmuc {
    color: #369a28;
}

.xanhlacay .badge_notice {
    background-color: #b43317;
}

.xanhlacay .div_chat {
    background: url(../images/eDoc/icon_chat_xanhlacay.png) no-repeat 0 0 #369a28;
}

.xanhlacay .css_tab_ngang_ac {
    border-top: 1px solid #369a28;
    border-left: 1px solid #369a28;
    border-right: 1px solid #369a28;
}

    .xanhlacay .css_tab_ngang_de:hover, .xanhlacay .css_tab_ngang_ac:hover {
        border-top: 1px solid #369a28;
        border-left: 1px solid #369a28;
        border-right: 1px solid #369a28;
    }

.xanhlacay .viewall_lich span {
    background: url(../images/eDoc/ico_allc_xanhlacay.png) no-repeat left center;
}

.xanhlacay .menu_tlap.show {
    background: #c87600;
}

.xanhlacay .dropdown-usermenu li:hover span {
    color: #eb9f0a;
}

.xanhlacay .menu_doc ul li span:hover, .xanhlacay .menu_doc ul li.selected span {
    background-color: #369a28;
}

.xanhlacay .dropdown-usermenu li.icon_thietlapht {
    background: url(../images/eDoc/menu/icon_thietlap_xanhlacay.png) no-repeat 10px 9px;
}

    .xanhlacay .dropdown-usermenu li.icon_thietlapht:hover {
        background-position: 10px -28px;
    }

.xanhlacay .dropdown-usermenu li.icon_help:hover {
    background-position: 10px -25px;
}

.xanhlacay .dropdown-usermenu li.icon_help {
    background: url(../images/eDoc/menu/icon_help_xanhlacay.png) no-repeat 10px 9px;
}

.xanhlacay .dropdown-usermenu li.icon_phanhoi:hover {
    background-position: 10px -28px;
}

.xanhlacay .dropdown-usermenu li.icon_phanhoi {
    background: url(../images/eDoc/menu/icon_phanhoi_xanhlacay.png) no-repeat 10px 9px;
}

.xanhlacay .dropdown-usermenu li.icon_logout:hover {
    background-position: 10px -25px;
}

.xanhlacay .dropdown-usermenu li.icon_logout {
    background: url(../images/eDoc/menu/icon_logout_xanhlacay.png) no-repeat 10px 9px;
    border-top: 1px solid #ccc;
}

.xanhlacay .icon_octb {
    background-color: #1e7312;
}

.xanhlacay .title-hot_news {
    background: url(../images/eDoc/arrow_t_tb_xanhlacay.png) no-repeat right 0;
}

    .xanhlacay .title-hot_news span {
        background-color: #369a28;
    }

.xanhlacay .menu_sidebar ul li span.css_MlistC {
    background-color: #369a28;
}

.xanhlacay .menu_dan ul {
    background: url(../images/eDoc/menu/icon_brecum-xanhlacay.png) no-repeat 10px 5px;
}

.xanhlacay .menu_sidebar ul li.css_Mlist ul span {
    background-image: url(../images/eDoc/menu/icon_dotxanhlacay.png);
}

.xanhlacay .menu_sidebar ul li ul span.css_MlistC {
    background-image: url(../images/eDoc/menu/icon_dotwhite.png);
}

/*Đếm thông báo*/
#noti_Container {
    position: relative;
    border: 1px solid blue;
    width: 16px;
    height: 16px;
}

.noti_bubble {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 1px 2px 1px 2px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.55em;
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
}
